@media (max-width: 1200px) {
  main {
    width: 50vw;
    padding: 2rem;
  }
}

@media (max-width: 800px) {
  main {
    width: 60vw;
    padding: 1.5rem;
  }

  #welcomeScreen h2 {
    text-transform: capitalize;
    font-size: 2rem;
  }

  button {
    min-width: 20rem;
  }

  .button-wrapper button {
    font-size: 1.5rem;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .info span {
    margin-top: 1rem;
    font-size: 1.6rem;
  }
}

@media (max-width: 480px) {
  main {
    width: 80vw;
    padding: 1rem;
  }

  .stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  input {
    margin-top: 4rem;
    margin-bottom: 0;
    width: auto;
  }
}
