@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Montserrat:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: #862e9c;
}

main {
  text-align: center;
  background-color: #ffd4d4;
  border: solid #495057;
  border-radius: 1rem;
  padding: 4rem;
}

h2 {
  font-size: 2.4rem;
  margin: 2rem;
}

h3 {
  font-size: 3rem;
}

p,
span {
  font-size: 1.8rem;
}

.image {
  width: 90%;
  max-height: 22rem;
  height: auto;
  margin: 1rem 0 4rem 0;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

button {
  background: #6d28d9;
  border-radius: 0.8rem;
  border-style: none;
  color: #ffffff;
  cursor: pointer;
  padding: 2.5rem 4rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all 0.5s;
  user-select: none;
  -webkit-user-select: none;
  text-transform: capitalize;
  font-family: "Josefin Sans", sans-serif;
}

button:last-child {
  margin-bottom: 0;
  background: #581c87;
}

button:hover {
  color: black;
  box-shadow: inset 0 0 0 3px #fff;
  background: transparent;
}

/* Our Game Area */

#game-area {
  min-width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#new-game-button button {
  margin: 2rem 0;
}

input {
  border: 0.1rem solid #adb5bd;
  background: #f1f3f5;
  margin: 4rem 0;
  padding: 2rem 1rem;
  width: 18rem;
  font-size: 1.8rem;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
}

.stats {
  text-align: left;
  margin-bottom: 2rem;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}

.info span {
  color: #e03131;
  padding-left: 2rem;
}
